FrontFinal/TimelessTreasuresWeb1/TimelessTreasuresWeb1/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62638/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62638/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62638/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TempService" />
      <xsd:import schemaLocation="http://localhost:62638/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService1_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addItemsToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:addItemsToDB" />
  </wsdl:message>
  <wsdl:message name="IService1_addItemsToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:addItemsToDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getItems" />
  </wsdl:message>
  <wsdl:message name="IService1_getItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItem" />
  </wsdl:message>
  <wsdl:message name="IService1_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_filterAndSortItems_InputMessage">
    <wsdl:part name="parameters" element="tns:filterAndSortItems" />
  </wsdl:message>
  <wsdl:message name="IService1_filterAndSortItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:filterAndSortItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddItemToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToCart" />
  </wsdl:message>
  <wsdl:message name="IService1_AddItemToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddItemToCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffMember" />
  </wsdl:message>
  <wsdl:message name="IService1_AddStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:EditStaffMember" />
  </wsdl:message>
  <wsdl:message name="IService1_EditStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStaffMember_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffMember" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteStaffMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_EditProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProductByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStaffMemberByFullNameAndSurname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffMemberByFullNameAndSurname" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStaffMemberByFullNameAndSurname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffMemberByFullNameAndSurnameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveItemFromCart_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemFromCart" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveItemFromCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemFromCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCartTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCartTotal" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCartTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCartTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateItemQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemQuantity" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateItemQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCartTotal" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCartTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCartTotalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateInvoice" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ClearCart_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearCart" />
  </wsdl:message>
  <wsdl:message name="IService1_ClearCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearCartResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvoices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoices" />
  </wsdl:message>
  <wsdl:message name="IService1_GetInvoices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAfterSale_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAfterSale" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAfterSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAfterSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Register" message="tns:IService1_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterResponse" message="tns:IService1_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addItemsToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addItemsToDB" message="tns:IService1_addItemsToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addItemsToDBResponse" message="tns:IService1_addItemsToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getItems" message="tns:IService1_getItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getItemsResponse" message="tns:IService1_getItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetItem" message="tns:IService1_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetItemResponse" message="tns:IService1_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filterAndSortItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/filterAndSortItems" message="tns:IService1_filterAndSortItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/filterAndSortItemsResponse" message="tns:IService1_filterAndSortItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddItemToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddItemToCart" message="tns:IService1_AddItemToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddItemToCartResponse" message="tns:IService1_AddItemToCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCartItems" message="tns:IService1_GetCartItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCartItemsResponse" message="tns:IService1_GetCartItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserID" message="tns:IService1_GetUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserIDResponse" message="tns:IService1_GetUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddStaffMember" message="tns:IService1_AddStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddStaffMemberResponse" message="tns:IService1_AddStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditStaffMember" message="tns:IService1_EditStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditStaffMemberResponse" message="tns:IService1_EditStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteStaffMember" message="tns:IService1_DeleteStaffMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteStaffMemberResponse" message="tns:IService1_DeleteStaffMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditProduct" message="tns:IService1_EditProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditProductResponse" message="tns:IService1_EditProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProduct" message="tns:IService1_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProductResponse" message="tns:IService1_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddProduct" message="tns:IService1_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddProductResponse" message="tns:IService1_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProductByName" message="tns:IService1_GetProductByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductByNameResponse" message="tns:IService1_GetProductByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffMemberByFullNameAndSurname">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStaffMemberByFullNameAndSurname" message="tns:IService1_GetStaffMemberByFullNameAndSurname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStaffMemberByFullNameAndSurnameResponse" message="tns:IService1_GetStaffMemberByFullNameAndSurname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItemFromCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveItemFromCart" message="tns:IService1_RemoveItemFromCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveItemFromCartResponse" message="tns:IService1_RemoveItemFromCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCartTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCartTotal" message="tns:IService1_UpdateCartTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateCartTotalResponse" message="tns:IService1_UpdateCartTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateItemQuantity" message="tns:IService1_UpdateItemQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateItemQuantityResponse" message="tns:IService1_UpdateItemQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCartTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCartTotal" message="tns:IService1_GetCartTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCartTotalResponse" message="tns:IService1_GetCartTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateInvoice" message="tns:IService1_CreateInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateInvoiceResponse" message="tns:IService1_CreateInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ClearCart" message="tns:IService1_ClearCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ClearCartResponse" message="tns:IService1_ClearCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetInvoices" message="tns:IService1_GetInvoices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetInvoicesResponse" message="tns:IService1_GetInvoices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAfterSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAfterSale" message="tns:IService1_UpdateAfterSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAfterSaleResponse" message="tns:IService1_UpdateAfterSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService1/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItemsToDB">
      <soap:operation soapAction="http://tempuri.org/IService1/addItemsToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <soap:operation soapAction="http://tempuri.org/IService1/getItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://tempuri.org/IService1/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterAndSortItems">
      <soap:operation soapAction="http://tempuri.org/IService1/filterAndSortItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddItemToCart">
      <soap:operation soapAction="http://tempuri.org/IService1/AddItemToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartItems">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCartItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStaffMember">
      <soap:operation soapAction="http://tempuri.org/IService1/AddStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditStaffMember">
      <soap:operation soapAction="http://tempuri.org/IService1/EditStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaffMember">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteStaffMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProductByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffMemberByFullNameAndSurname">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStaffMemberByFullNameAndSurname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItemFromCart">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveItemFromCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCartTotal">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCartTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemQuantity">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateItemQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCartTotal">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCartTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateInvoice">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCart">
      <soap:operation soapAction="http://tempuri.org/IService1/ClearCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="http://tempuri.org/IService1/GetInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAfterSale">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAfterSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62638/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>