FrontFinal/TimelessTreasuresWeb1/TimelessTreasuresWeb1/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TempService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TempService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62638/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfItemWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemWrapper" nillable="true" type="tns:ItemWrapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemWrapper" nillable="true" type="tns:ArrayOfItemWrapper" />
  <xs:complexType name="ItemWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumSold" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visibility" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemWrapper" nillable="true" type="tns:ItemWrapper" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartTrackers" nillable="true" type="tns:ArrayOfCartTracker" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumSold" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visible_" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ArrayOfCartTracker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartTracker" nillable="true" type="tns:CartTracker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartTracker" nillable="true" type="tns:ArrayOfCartTracker" />
  <xs:complexType name="CartTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartId" type="xs:int" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="tns:Item" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdID" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UCart" nillable="true" type="tns:UCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartTracker" nillable="true" type="tns:CartTracker" />
  <xs:complexType name="UCart">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CartTrackers" nillable="true" type="tns:ArrayOfCartTracker" />
      <xs:element minOccurs="0" name="CustId" type="xs:int" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TaxCosts" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UCart" nillable="true" type="tns:UCart" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustId" type="xs:int" />
      <xs:element minOccurs="0" name="CustPhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Invoice_s" nillable="true" type="tns:ArrayOfInvoice_" />
      <xs:element minOccurs="0" name="PUser" nillable="true" type="tns:PUser" />
      <xs:element minOccurs="0" name="UCarts" nillable="true" type="tns:ArrayOfUCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfInvoice_">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice_" nillable="true" type="tns:Invoice_" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice_" nillable="true" type="tns:ArrayOfInvoice_" />
  <xs:complexType name="Invoice_">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GiftMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receipiant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceipiantContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecepiantAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice_" nillable="true" type="tns:Invoice_" />
  <xs:complexType name="PUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" nillable="true" type="tns:Admin" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="UEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UId" type="xs:int" />
      <xs:element minOccurs="0" name="UPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ucreationtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Urole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PUser" nillable="true" type="tns:PUser" />
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdminId" type="xs:int" />
      <xs:element minOccurs="0" name="AdminPerms" type="xs:int" />
      <xs:element minOccurs="0" name="PUser" nillable="true" type="tns:PUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="ArrayOfUCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UCart" nillable="true" type="tns:UCart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUCart" nillable="true" type="tns:ArrayOfUCart" />
  <xs:complexType name="ArrayOfTrackerWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackerWrapper" nillable="true" type="tns:TrackerWrapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackerWrapper" nillable="true" type="tns:ArrayOfTrackerWrapper" />
  <xs:complexType name="TrackerWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="CartID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackerWrapper" nillable="true" type="tns:TrackerWrapper" />
  <xs:complexType name="StaffMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="PermType" type="xs:int" />
      <xs:element minOccurs="0" name="UEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UId" type="xs:int" />
      <xs:element minOccurs="0" name="USurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ucreationtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Urole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaffMember" nillable="true" type="tns:StaffMember" />
  <xs:complexType name="ArrayOfInvoiceWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceWrapper" nillable="true" type="tns:InvoiceWrapper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceWrapper" nillable="true" type="tns:ArrayOfInvoiceWrapper" />
  <xs:complexType name="InvoiceWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="D" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Delivery" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProductIDs" nillable="true" type="q1:ArrayOfint" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="QuantityProd" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receipiant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceWrapper" nillable="true" type="tns:InvoiceWrapper" />
  <xs:complexType name="Cupon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cupon" nillable="true" type="tns:Cupon" />
  <xs:complexType name="UserCartWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscountPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="TaxCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserCartWrapper" nillable="true" type="tns:UserCartWrapper" />
</xs:schema>